createdAt: "2019-08-13T21:08:29.565Z"
updatedAt: "2019-08-13T21:08:45.229Z"
type: "MARKDOWN_NOTE"
folder: "fcb5ac2d185517c70e1b"
title: "Component list"
tags: []
content: '''
  Component list
  ---
  
  this is a placeholder
'''
linesHighlighted: []
isStarred: false
isTrashed: false
