createdAt: "2019-08-13T21:07:58.845Z"
updatedAt: "2020-01-06T11:16:38.775Z"
type: "MARKDOWN_NOTE"
folder: "fcb5ac2d185517c70e1b"
title: "Design"
tags: []
content: '''
  Design
  ---
  
  ### 参考设计尺寸：
  ##### set DH params(data from ur3)
  d = [0.1519, 0., 0., 0.11235, 0.08535, 0.0819]
  theta = [0., 0., 0., 0., 0., 0.]
  a = [0., -.24365, -.21325, 0., 0., 0.]
  alpha = [0.5*pi, 0., 0., 0.5*pi, -0.5*pi, 0]
  ##### set mass (kg)
  m = [2., 2., 2., 1.5, 0.6, 0.5]
  
  ##### define robot
  _robot = robot.RobotSixAxis(d, theta, a, alpha, m)
  
  ##### define tool
  tool = [0.1, 0., 0., 0.]	# DH
  
  ##### set payload (kg)
  payload = 2.
  
  ##### set speed (m/s)
  speed = 1.
  
  ##### set angular acceleration (rad/s)
  acceleration = [0.5*pi, 1*pi, 0.5*pi, 0.5*pi, 0.5*pi, 0.5*pi]
  
  ### 关节力矩估算
  ![torqueNeeded.png](:storage/fda5851e-45ce-4273-9ca6-4ffa56b1abc5/c9044fb9.png)
  
  选用电机Turnigy Aerodrive SK3 - 4250-350kv，可提供1.18Nm扭矩,最大瞬时扭矩2.36Nm。
  选用大电机Sunnysky X4110S 340KV给Axis2，估计可提供3Nm扭矩。
  按1.5倍安全系数，可计算得到各轴所需的安全扭矩。由此设计各轴所需减速比。
  
  |Axis|最小扭矩|安全扭矩|选用电机|电机扭矩|设计减速比|最大输出扭矩（减速）|
  |----|-------|------|-------|-------|--------|-----------------|
  | 1  |  2.3  |  3.5 |朗宇Sunnysky X4110S 340KV| ~2? | 4:1 | 8 |
  | 2  |  31.5 |  48  |Turnigy Aerodrive SK3 - 4250-350kv| 1.18 | 50:1 | 59 |
  | 3  |  12.2 |  18.3|Turnigy Aerodrive SK3 - 4250-350kv| 1.18 | 30:1 | 35.4 |
  | 4  |  2.1  |  3.2 |Turnigy Aerodrive SK3 - 4250-350kv| 1.18 | 10:1 | 11.8 |
  | 5  |  3.7  |  5.6 |Turnigy Aerodrive |
  | 6  |   0   |  0   |Turnigy Aerodrive |
  
  
  ### 同步带最大张力估算
  选用高强度同步带AT3 Synchroflex® Timing Belts。（注：BL robot中最小带轮齿数为10，并且同步带被裁至4mm宽。）
  ![许用张力、最小直径、最少齿数](:storage/fda5851e-45ce-4273-9ca6-4ffa56b1abc5/03bec6c5.png)
  其中6mm宽度可承受330N张力，最小带轮齿数z=15。
  ![belt_tension.png](:storage/fda5851e-45ce-4273-9ca6-4ffa56b1abc5/947d292c.png)
  若按Axis-2输出带轮半径r=20mm计算，48Nm的力矩输出则需要2400N的张力，哈哈哈哈哈哈😂。
  
  [在线计算工具](https://www.mulco.de/?q=en/content/cad-tool-mulco-belt-pilot)
  
  ### 改用10mm宽度的T5齿型同步带
'''
linesHighlighted: []
isStarred: false
isTrashed: false
