createdAt: "2019-08-13T21:07:58.845Z"
updatedAt: "2019-08-13T21:08:09.909Z"
type: "MARKDOWN_NOTE"
folder: "fcb5ac2d185517c70e1b"
title: "Design"
tags: []
content: '''
  Design
  ---
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
