createdAt: "2019-08-13T21:07:58.845Z"
updatedAt: "2019-08-16T19:00:45.404Z"
type: "MARKDOWN_NOTE"
folder: "fcb5ac2d185517c70e1b"
title: "Design"
tags: []
content: '''
  Design
  ---
  
  ### 参考设计尺寸：
  ##### set DH params(data from ur3)
  d = [0.1519, 0., 0., 0.11235, 0.08535, 0.0819]
  theta = [0., 0., 0., 0., 0., 0.]
  a = [0., -.24365, -.21325, 0., 0., 0.]
  alpha = [0.5*pi, 0., 0., 0.5*pi, -0.5*pi, 0]
  ##### set mass (kg)
  m = [2., 2., 2., 1.5, 0.6, 0.5]
  
  ##### define robot
  _robot = robot.RobotSixAxis(d, theta, a, alpha, m)
  
  ##### define tool
  tool = [0.1, 0., 0., 0.]	# DH
  
  ##### set payload (kg)
  payload = 2.
  
  ##### set speed (m/s)
  speed = 1.
  
  ##### set angular acceleration (rad/s)
  acceleration = [0.5*pi, 1*pi, 0.5*pi, 0.5*pi, 0.5*pi, 0.5*pi]
  
  ### 关节力矩估算
  ![torqueNeeded.png](:storage/fda5851e-45ce-4273-9ca6-4ffa56b1abc5/c9044fb9.png)
  
  选用电机Turnigy Aerodrive SK3 - 4250-350kv，可提供1.18Nm扭矩。按1.5倍安全系数，可计算得到各轴所需的安全扭矩。由此设计各轴所需减速比。
  
  |Axis|最小扭矩|安全扭矩|设计减速比|电机负载扭矩|
  |----|-------|------|---------|----------|
  | 1  |  2.3  |  3.5 |   5:1
  | 2  |  31.5 |  48  |  42:1??1.5kg->36:1
  | 3  |  12.2 |  18.3|  25:1
  | 4  |  2.1  |  3.2 |   5:1
  | 5  |  3.7  |  5.6 |   6:1
  | 6  |   0   |  0   |   0
'''
linesHighlighted: []
isStarred: false
isTrashed: false
